/**
 * Stylesheet zur Klasse PageOverview: Startseite der App
 */
html {
    /*background-image: url(background.jpg);*/
    font-family: "Pangolin";
}
form {
    position: relative;
}

.tile {
    display: inline-block;

    border: 1px solid lightgrey;

    padding: 0.5em;
    margin: 0.5em;

    transition: transform 0.5s, background 0.5s;
    transform: scale(1);
}

.tile img {
    width: 20em;
    height: 20em;
    max-width: 100%;
    object-fit: cover;
    display: block;

}

.tile a,
.tile a:visited {
    color: black;
    text-decoration: none;
}

.tile:hover {
    background-image: url(background.jpg);
    transform: scale(1.01) rotate(0.5deg);
    cursor: pointer;

}
