/**
 * Stylesheet zur Klasse PageQuiz: Quizseite der App
 */
 html {
     background-image: url(background.jpg);
 }

.page-heading > div {
    order: 1;
    flex: 1;
}
.page-heading > img {
    box-sizing: border-box;
    width: 6em;
    max-width: 100%;

    border: 1px solid lightgrey;
    padding: 0.25em;
    background: rgb(250, 250, 250);

    order: 2;
}


/* Anzeigen der Karte*/
.karte {
  position: relative;
  width: 1000px;
  height: 581px;
}

.weltkarte {

  display: block;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}
/* die verschiedenen Kontinente sind beim Laden ausgeblendet */
.antarktis {
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.australien {
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.afrika {
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.europa {
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.asien {
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.nordamerika {
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.suedamerika {
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

/* Auswertung */
.richtig {
  display: none;
  z-index: 2;
  position: relative;
  text-align: center;
  top: 250px;
  background: white;
}
.falsch {
  display: none;
  position: relative;
  text-align: center;
  top: 600px;
  left: 0;
}
