/**
 * Stylesheet zur schöneren Gestaltung einfacher Buttons
 */

button {
    font-size: 90%;

    border: 0;
    padding: 1em;
    border-radius: 20px;
    outline: 0;
    color: white;
    background-color: rgb(0, 139, 0);
    transition: background-color 0.25s;
}

button:hover {
    cursor: pointer;
    background-color: rgb(0, 205, 0);
}
