/* kann gelöscht werden!*/

/**
 * Stylesheet zur schöneren Gestaltung einfacher Formulare
 */

/*form > * {
    display: block;
    width: 100%;

    border: 0px solid lightgrey;
    border-bottom-width: 1px;


    padding: 0.5em 0 0.5em 0;
    margin-bottom: 1em;

  input[type=button], input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
}*/
